<!doctype html>
<html lang="en" class="layout-fixed">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>layout fixed</title>
    <link rel="stylesheet" href="../../fonts/fonts.css"/>
    <link rel="stylesheet" href="../../build/prefix/app.css"/>
</head>
<body>
    <header id="header">
        <div class="bar">
            <button class="button button-back">返回</button>
            <h1 class="title">bar测试</h1>
            <button class="button"><i class="icon icon-alert-circled"></i></button>
        </div>
    </header>
    <section id="content" class="has-header has-footers">
        <br/>
        <div class="bar">
            <button class="button"><i class="icon icon-alert"></i>返回</button>
            <h1 class="title">Title</h1>
            <a class="button button-clear button-text-icon">Hello</a>
        </div>
    </section>
    <footer id="footer">
        <div class="bar"></div>
    </footer>
</body>
</html>